@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 15, 23, 42;
  --background-end-rgb: 15, 23, 42;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0f172a;
  color: #f8fafc;
  margin: 0;
  overflow-y: auto;
}

.font-manrope { font-family: 'Manrope', sans-serif; }

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

#map-container {
  background-color: #f1f5f9;
}
